#!/bin/bash

[[ -r ~/.etc/keychain.conf ]] && . ~/.etc/keychain.conf

[[ -z "${_keychain}" ]] && _keychain=`which keychain 2> /dev/null`
[[ -n "${_keychain}" ]] || echo "No keychain set"
[[ -n "${_keychain_timeout}" ]] || echo "No timeout set"
[[ -n "${_keychain_keys}" ]] || echo "No keys set"
[[ -n "${_keychain}" ]] && [[ -x ${_keychain} ]] && ${_keychain} -q --timeout ${_keychain_timeout} ${_keychain_keys}
[[ -z "$HOSTNAME" ]] && HOSTNAME=‘uname -n‘
[[ -r $HOME/.keychain/$HOSTNAME-sh ]] && . $HOME/.keychain/$HOSTNAME-sh
[[ -r $HOME/.keychain/$HOSTNAME-sh-gpg ]] && . $HOME/.keychain/$HOSTNAME-sh-gpg
