# .bashrc.d/aliases

if [ "${BASE}" != "BSD" ] && [ "${BASE}" != "unknown" ]; then
    alias ls='ls --color=always'
fi
if [ "${BASE}" == "RH" ]; then
    alias view='/usr/bin/vim'
fi
alias grep='grep --color=always'
alias hi='highlight -t 4 -O xterm256 -s andes -lz '
alias ssh='TERM=xterm-256color ssh '
alias nssh='TERM=xterm ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no '
alias rssh='TERM=xterm ssh -l root '
